
/* FONTES (PRINCIPAL "Playfair Display" Secundária "Figtree") */
@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fafafa;
    font-family: 'Bricolage Grotesque', 'sans-serif';
    font-weight: 300;
    scroll-behavior: smooth;
}

.f1 {
    font-family: 'Playfair Display', 'sans-serif';
}

.italic {font-style: italic;}
.bold {font-weight: 700;}
.bdp {
    padding-left: 10%;
    padding-right: 10%;
}
.large{font-size: xx-large;}
.sp-d{margin-bottom: 20px;}
.legenda {color: #b3b3b3;}


body {
    background-color: #0e0e0e;
}

hr {
    border-color: #202020;
}

header {
    padding: 10px 15px;
    border-radius: 100px;
    display: flex;
    justify-content: space-between;
    background-color: #0a0a0a90;
    width: 90%;
    position: fixed;
    top: 20px;
    left: 5%;
    z-index: 100;
    border: solid 1px #202020;
    backdrop-filter: blur(15px); 
}

header>.logo{
    display: flex;
    align-items: center;
}

header>.logo>img {
    height: 30px;
    margin-right: 15px;
}

header>.nav-links{
    display: flex;
    gap: 15px;
    align-items: center;
    width: auto;
}

header>.nav-links>a{
    text-decoration: none;
    color: #7e7e7e;
    font-weight: 600;
    width: max-content;
}

header>.nav-links>a:hover{
    text-decoration: none;
    color: #ffffff;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

.nav-destaque{
    background-color: #171717;
    padding: 10px 12px;
    border-radius: 100px;
    color: #c7c7c7 !important;
}

.nav-destaque>i{
    color: #c7c7c7 !important;
}

.nav-destaque:hover {
    background-color: #ffffff;
    transition: all 0.3s ease-in-out;
}
.nav-destaque:hover,
.nav-destaque:hover i {
    color: #0e0e0e !important;
    transition: all 0.2s ease-in-out;
}

.hero {
    display: block;
    width: 100%;
    height: 100vh;
    z-index: -5;
    position: fixed;
}

.hero>.texto {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: auto;
    font-size: 150px;
    color: #ffffff5c;
    text-align: center;
    line-height: 95%;
    mix-blend-mode:luminosity;
}

.hero > .grid-2{
    display: flex;
    align-items: center;
    box-sizing: border-box;
    gap: 3%;
    width: 100%;
    height: 100vh;
    padding: 10% 25%;
    text-align: center;
}

.hero > .grid-2 > .hero-text {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.hero-links{
    display: flex;
    gap: 10px;
    align-self: center;
}

.content {
    display: block;
    position: absolute;
    width: 100%;
    padding: 5% 10%;
    background-color: #0c0c0c;
    top: 100vh;
    border-radius: 30px 30px 0px 0px;

}

.sub-content {
    display: block;
    width: 100%;
    padding: 5% 0%;
    top: 100vh;
}

.bg-top{
    display: block;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to bottom, #0f0537, #130e60, #1b138d, #2614bb, #3612eb);
    position: fixed;
    mix-blend-mode: color-burn;
}

.bg-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -10;
    overflow: hidden;
}

.bg-video video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    transform: translate(-50%, -50%);
    object-fit: cover;
    z-index: -5;
}

.mix-border-img {
    border-radius: 30px;
    border-top-left-radius: 0;
}

.grid-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    box-sizing: border-box;
    gap: 50px;
    align-items: center;
}

.grid-2>.image>img{
    width: 100%;
    height: auto;
}

.anchor-point {
    display: block;
    margin-top: 30px; 
    position: relative;
}

.center-all {
    align-self: center;
    text-align: center;
    width: 100%;
}

table {
    width: 100%;
}

tr {
    text-align: left;
    gap: 30px;
}

table > td {
    color: #b3b3b3;
    margin-top: 10px;
    padding: 12px 24px;
}

table > th {
    margin-bottom: 30px;
}

tr td:hover{
    background-color: #202020;
    transition: all 0.2s ease-in-out;
    color: #ffffff;
    cursor: unset;
}

th {
    color: #ffffff;
    font-weight: 600;
    padding: 10px 24px;
}

td {
    border-radius: 10px;
    padding: 10px 24px;
}

.grid-projetos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    box-sizing: border-box;
}

.grid-projetos>.card {
    display: block;
    width: 300px;
    height: auto;
    border-radius: 20px;
    background-color: #ff1818;
    padding: 20px;
    box-sizing: border-box;
}

.card>.card-image>img {
    width: 100%;
    height: auto;
    border-radius: 30px;
}